<!-- FOOTER -->

<footer class="footer">
  <div class="footer-wrapp">
    <nav class="col">
      <ul>
        <li><a href="https://www.clickable.design"> <p data-h="о нАС">о нАС&nbsp;</p></a></li>
        <li><a href="http://clickable.design/showcase/"> <p data-h="РАБОТЫ">РАБОТЫ&nbsp;</p></a></li>
        <li><a href="http://clickable.design/reviews/"> <p data-h="РЕКОМЕНДАЦИИ">РЕКОМЕНДАЦИИ&nbsp;</p></a></li>
        <li><a href="http://clickable.design/team/"> <p data-h="КОМАНДА">КОМАНДА&nbsp;</p></a></li>
        <li><a href="http://clickable.design/blog/"> <p data-h="БЛОГ">БЛОГ&nbsp;</p></a></li>
        <li><a href="http://clickable.design/#contactable"> <p data-h="СВЯЗАТЬСЯ С НАМИ">СВЯЗАТЬСЯ С НАМИ&nbsp;</p></a></li>
      </ul>
    </nav>
    <div class="col">
      <ul>
        <li>
          <a href="skype:clickable.design">
            <div class="img sk">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="15.8 12.8 35.5 36" enable-background="new 15.8 12.8 35.5 36" xml:space="preserve">
<g>
	<path fill="#333333" d="M48.6,30.6c0-8.4-6.8-15.3-15.2-15.3c-0.8,0-1.6,0.1-2.4,0.2C29.6,14.5,27.9,14,26,14c-5,0-9,4.1-9,9.2
		c0,1.8,0.5,3.6,1.5,5c-0.1,0.8-0.2,1.6-0.2,2.4c0,8.4,6.8,15.3,15.2,15.3c0.9,0,1.9-0.1,2.8-0.3c1.4,0.9,3,1.4,4.8,1.4
		c5,0,9-4.1,9-9.2c0-1.9-0.6-3.7-1.6-5.2C48.5,32,48.6,31.3,48.6,30.6z M34.8,42.4c-4.8,0.3-7.1-0.8-9.1-2.8
		c-2.3-2.2-1.4-4.7,0.5-4.9c1.9-0.1,3,2.2,4,2.8c1,0.6,4.8,2.1,6.8-0.3c2.2-2.6-1.5-3.9-4.1-4.3c-3.8-0.6-8.6-2.7-8.3-6.8
		c0.4-4.1,3.5-6.3,6.7-6.6c4.1-0.4,6.8,0.6,9,2.5c2.5,2.1,1.1,4.5-0.4,4.7c-1.6,0.2-3.3-3.5-6.8-3.6c-3.6-0.1-5.9,3.8-1.6,4.9
		c4.4,1.1,9.1,1.5,10.8,5.6C44,37.8,39.7,42.1,34.8,42.4z"/>
</g>
</svg>
            </div></a>
            <div class="txt">
                <a href="skype:clickable.design" data-h="CLICKABLE.DESIGN">CLICKABLE.DESIGN&nbsp;</a>
            </div>
          </a>
        </li>
        <li>
          <a href="mailto:clickable.design@gmail.com">
            <div class="img ml">
              <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 39.7 28.5" enable-background="new 0 0 39.7 28.5" xml:space="preserve">
<g id="Forma_1_3_">
	<g>
		<path fill="#333333" d="M20.1,19.6l-4.5-3.9l-12.7,11c0.5,0.4,1.1,0.7,1.8,0.7h30.8c0.7,0,1.3-0.3,1.8-0.7l-12.7-11L20.1,19.6z
			 M37.3,2.1c-0.5-0.4-1.1-0.7-1.8-0.7H4.7C4,1.4,3.3,1.7,2.9,2.1L20.1,17L37.3,2.1z M2.1,3.7v21.6l12.4-10.7L2.1,3.7z M25.6,14.6
			l12.4,10.7V3.7L25.6,14.6z"/>
	</g>
</g>
</svg>
            </div> </a>
            <div class="txt">
                <a href="mailto:clickable.design@gmail.com" data-h="CLICKABLE.DESIGN@GMAIL.COM">CLICKABLE.DESIGN@GMAIL.COM&nbsp;</a>
            </div>

        </li>
        <li>
          <a href="tel:+380932491647">
            <div class="img tl">
              <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 36.9 36" enable-background="new 0 0 36.9 36" xml:space="preserve">
<g id="Forma_1_4_">
	<g>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#333333" d="M36,28.1c-0.1-0.5-0.4-0.9-0.9-1.2l-7.2-4.2h0
			c-0.2-0.1-0.6-0.2-1-0.2c-0.6,0-1.1,0.2-1.6,0.6l-2.1,2.2c0,0-0.1,0.1-0.2,0.1c-0.1,0-0.2,0.1-0.2,0.1l-0.5-0.1
			c-0.3-0.1-0.8-0.2-1.3-0.5c-0.6-0.3-1.3-0.8-2.2-1.4c-0.9-0.6-1.9-1.5-3-2.7c-1.1-1.1-2-2.1-2.6-2.9c-0.6-0.9-1.1-1.6-1.4-2.2
			c-0.3-0.7-0.6-1.3-0.7-1.8c0-0.1,0-0.2,0.1-0.3c0-0.1,0.1-0.2,0.1-0.2l1.8-1.8c0.3-0.3,0.5-0.7,0.6-1.2c0.1-0.5,0-0.9-0.2-1.3
			l-4-7.5C9.5,1.2,9.2,1,9,0.8C8.7,0.6,8.5,0.5,8.1,0.5C7.7,0.5,7.3,0.7,7,1L2,5.9C1.8,6.2,1.6,6.5,1.4,6.8C1.2,7.2,1.1,7.5,1.1,7.9
			c0,0,0,0.3,0,0.7c0,0.4,0,1.1,0.1,1.8c0.1,0.8,0.4,1.7,0.7,2.8c0.3,1.1,0.9,2.3,1.6,3.6c0.7,1.3,1.6,2.8,2.7,4.3
			c1.1,1.6,2.6,3.2,4.3,4.9c2.2,2.2,4.2,3.9,6.2,5.2c1.9,1.3,3.6,2.2,5.2,2.8c1.5,0.6,2.8,1,3.9,1.2c1,0.2,1.8,0.2,2.3,0.2
			c0.2,0,0.4,0,0.5,0c0.1,0,0.2,0,0.2,0c0.3,0,0.7-0.2,1.1-0.3c0.4-0.2,0.6-0.4,0.9-0.6l4.9-4.9C35.9,29.2,36.1,28.7,36,28.1z"/>
	</g>
</g>
</svg>
            </div>
              </a>
            <div class="txt">
              <a href="tel:+380932491647" data-h="+38 (093) 249 16 47">+38 (093) 249 16 47&nbsp;</a>
            </div>

        </li>

      </ul>
    </div>
    <div class="col">
      <ul>
        <li>
          <a href="https://vk.com/clickable.design">
            <div class="img vk">
              <svg version="1.1" id="icon_vk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 39.2 23.4" enable-background="new 0 0 39.2 23.4" xml:space="preserve">
<g id="Forma_1_2_">
    <g>
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#333333" d="M38.3,20.5c0-0.1-0.1-0.2-0.1-0.3c-0.7-1.2-1.9-2.7-3.8-4.4l0,0
            l0,0l0,0h0c-0.8-0.8-1.4-1.4-1.6-1.6c-0.4-0.5-0.5-1.1-0.3-1.6c0.2-0.4,0.8-1.3,1.8-2.6c0.5-0.7,1-1.3,1.3-1.7
            c2.3-3.1,3.3-5,3-5.9L38.4,2c-0.1-0.1-0.3-0.2-0.6-0.3c-0.3-0.1-0.8-0.1-1.3-0.1l-5.7,0c-0.1,0-0.3,0-0.4,0c-0.1,0-0.2,0-0.3,0.1
            c0,0-0.1,0-0.1,0.1l-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.4c-0.6,1.6-1.3,3.1-2.1,4.5c-0.5,0.8-0.9,1.5-1.3,2.2
            c-0.4,0.6-0.8,1.1-1,1.3c-0.3,0.3-0.5,0.5-0.8,0.7c-0.2,0.2-0.4,0.2-0.5,0.2c-0.1,0-0.2-0.1-0.3-0.1c-0.2-0.1-0.3-0.3-0.4-0.5
            c-0.1-0.2-0.2-0.5-0.2-0.8c0-0.3-0.1-0.6-0.1-0.8c0-0.2,0-0.5,0-1c0-0.4,0-0.7,0-0.8c0-0.5,0-1.1,0-1.7c0-0.6,0-1.1,0-1.4
            c0-0.3,0-0.7,0-1.1c0-0.4,0-0.7-0.1-0.9c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.2-0.4-0.4-0.5C22,1,21.7,0.9,21.5,0.9
            c-0.7-0.2-1.6-0.2-2.7-0.3c-2.5,0-4,0.1-4.7,0.5c-0.3,0.1-0.5,0.3-0.8,0.6c-0.2,0.3-0.3,0.5-0.1,0.5C14,2.3,14.6,2.6,14.9,3
            L15,3.3c0.1,0.2,0.2,0.5,0.3,0.9c0.1,0.4,0.2,0.9,0.2,1.5c0.1,1,0.1,1.8,0,2.5c-0.1,0.7-0.1,1.2-0.2,1.6c-0.1,0.4-0.1,0.7-0.3,0.9
            c-0.1,0.2-0.2,0.4-0.2,0.4c0,0.1-0.1,0.1-0.1,0.1c-0.2,0.1-0.3,0.1-0.5,0.1c-0.2,0-0.4-0.1-0.7-0.3c-0.3-0.2-0.5-0.4-0.8-0.8
            c-0.3-0.3-0.6-0.8-1-1.4c-0.4-0.6-0.7-1.3-1.1-2.1l-0.3-0.6c-0.2-0.4-0.5-0.9-0.8-1.6C9.1,3.9,8.8,3.2,8.6,2.6
            C8.5,2.3,8.3,2.1,8.1,1.9L8,1.9C7.9,1.8,7.8,1.8,7.7,1.7C7.5,1.6,7.4,1.6,7.2,1.6l-5.4,0C1.2,1.6,0.9,1.7,0.7,2L0.6,2.1
            c0,0.1-0.1,0.2-0.1,0.3c0,0.1,0,0.3,0.1,0.5c0.8,1.9,1.7,3.7,2.6,5.5c0.9,1.8,1.7,3.2,2.4,4.2c0.7,1.1,1.4,2.1,2.1,3
            c0.7,1,1.2,1.6,1.4,1.8c0.2,0.3,0.4,0.5,0.5,0.6l0.5,0.5c0.3,0.3,0.8,0.7,1.4,1.2c0.6,0.4,1.3,0.9,2,1.3c0.7,0.4,1.6,0.8,2.6,1.1
            c1,0.3,2,0.4,2.9,0.3h2.3c0.5,0,0.8-0.2,1-0.4l0.1-0.1c0.1-0.1,0.1-0.2,0.1-0.4c0-0.2,0.1-0.4,0.1-0.6c0-0.6,0-1.1,0.1-1.6
            c0.1-0.5,0.2-0.8,0.3-1c0.1-0.2,0.3-0.4,0.4-0.6c0.2-0.2,0.3-0.3,0.3-0.3c0.1,0,0.1-0.1,0.2-0.1c0.3-0.1,0.7,0,1.1,0.3
            c0.4,0.3,0.8,0.7,1.2,1.2c0.4,0.5,0.8,1,1.4,1.6c0.5,0.6,1,1,1.4,1.3l0.4,0.2c0.3,0.2,0.6,0.3,1,0.4c0.4,0.1,0.8,0.2,1.1,0.1
            l5.1-0.1c0.5,0,0.9-0.1,1.2-0.3c0.3-0.2,0.4-0.4,0.5-0.6c0.1-0.2,0.1-0.4,0-0.7C38.4,20.7,38.4,20.6,38.3,20.5z"/>
    </g>
</g>
</svg>
            </div>
          </a>
            <div class="txt">
              <a href="https://vk.com/clickable.design" data-h="VKONTAKTE">VKONTAKTE&nbsp;</a>
            </div>

        </li>
        <li>
          <a href="https://www.facebook.com/clickable.design/timeline">
            <div class="img fb">
              <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 19.1 38.6" enable-background="new 0 0 19.1 38.6" xml:space="preserve">
<g id="Forma_1">
	<g>
		<path fill="#333333" d="M13.5,7.1h4.6V1h-6.5c-5.5,0-7,3.6-7,8.6v3.7H0.9v6.1h3.8v18.5h6.1V19.4h6.1l1-6.1h-7.1v-3.1
			C10.7,8.6,11.2,7.1,13.5,7.1z"/>
	</g>
</g>
</svg>
            </div>
          </a>
            <div class="txt">
              <a href="https://www.facebook.com/clickable.design/timeline" data-h="FACEBOOK">FACEBOOK&nbsp;</a>
            </div>

        </li>
        <li>
          <a href="https://plus.google.com/communities/103626759262523472578">
            <div class="img gg">
              <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 35.5 36.1" enable-background="new 0 0 35.5 36.1" xml:space="preserve">
<g id="Forma_1_1_">
	<g>
		<path fill="#333333" d="M18.5,20.2l-1.6-1.3c-0.5-0.4-1.2-1-1.2-2c0-1,0.7-1.6,1.3-2.2c1.9-1.5,3.8-3.1,3.8-6.5
			c0-3.5-2.2-5.3-3.2-6.1h2.8l2.9-1.6h-9.4c-2.5,0-5.5,0.4-8.1,2.5c-2,1.7-2.9,4-2.9,6.1c0,3.5,2.7,7.1,7.5,7.1c0.5,0,1,0,1.5-0.1
			c-0.2,0.5-0.5,1-0.5,1.8c0,1.4,0.7,2.3,1.4,3.1c-2,0.1-5.9,0.4-8.7,2.1c-2.7,1.6-3.5,3.9-3.5,5.5c0,3.4,3.2,6.5,9.8,6.5
			c7.8,0,12-4.3,12-8.6C22.3,23.4,20.5,21.9,18.5,20.2z M12.5,15c-3.9,0-5.7-5-5.7-8.1c0-1.2,0.2-2.4,1-3.4C8.5,2.6,9.8,2,11,2
			c3.8,0,5.7,5.1,5.7,8.4c0,0.8-0.1,2.3-1.1,3.3C14.9,14.4,13.6,15,12.5,15z M12.5,33.3c-4.9,0-8-2.3-8-5.5c0-3.2,2.9-4.3,3.9-4.7
			c1.9-0.6,4.4-0.7,4.8-0.7c0.5,0,0.7,0,1,0c3.5,2.5,5,3.7,5,6C19.2,31.2,16.9,33.3,12.5,33.3z M30.1,15.3v-4.9h-2.5v4.9h-4.9v2.5
			h4.9v4.9h2.5v-4.9H35v-2.5H30.1z"/>
	</g>
</g>
</svg>
            </div></a>
            <div class="txt">
              <a href="https://plus.google.com/communities/103626759262523472578" data-h="GOOGLE PLUS">GOOGLE PLUS&nbsp;</a>
            </div>

        </li>

      </ul>
    </div>

  </div>
   <div class="foot-copyright">
                <span>© iivo by clickable.design studio 2016</span>
            </div>
</footer>
</div>
<!-- FOOTER -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,900,700,300,100&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- build:css -->
<link rel="stylesheet" href="css/normalize.css">
<!-- add new file here -->
<link rel="stylesheet" href="css/zdev_0_basic.css">
<link rel="stylesheet" href="css/iivoPage.css">
<link rel="stylesheet" href="css/iivo-adapt.css">
<!-- endbuild -->
<!--[if lt IE 10]>
<link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
<script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- build:js -->
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/jquery.validate.min.js" ></script>
<script src="http://clickable.design/wp-content/themes/clickable.design/js/easeljs-0.7.1.min.js"></script>
<script src="http://clickable.design/wp-content/themes/clickable.design/js/tweenjs-0.5.1.min.js"></script>
<script  src="http://clickable.design/wp-content/themes/clickable.design/js/movieclip-0.7.1.min.js"></script>

<script type="text/javascript" src="js/logo_index.js" ></script>

<script type="text/javascript" src="js/develop/iivo.js" ></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
