<!-- HEADER -->
<header>
    <div class="logo-wrap">
        <img src="images/logo-img.png" alt="">
    </div>

        <span class="sendwich-icon">
              <span></span>
            </span>

    <div class="menu">
        <ul>
            <li><a href="#"> о нАС</a></li>
            <li><a href="#"> РАБОТЫ</a></li>
            <li><a href="#"> РЕКОМЕНДАЦИИ</a></li>
            <li><a href="#">КОМАНДА</a></li>
            <li><a href="#"> БЛОГ</a></li>
            <li><a href="#">СВЯЗАТЬСЯ С НАМИ</a></li>
        </ul>
    </div>
</header>
<!-- /HEADER -->

