<header>
    <div class="mbox cfix">


        <div class="logo-wrap">
            <a href="https://www.clickable.design"><canvas id="canvas1" width="239" height="112"></canvas></a>
        </div>

            <span class="sendwich-icon">
                  <span></span>
                </span>

        <nav class="nav">
            <ul>
                <li><a href="https://www.clickable.design"> о нАС</a></li>
                <li><a href="http://clickable.design/showcase/"> РАБОТЫ</a></li>
                <li><a href="http://clickable.design/reviews/"> РЕКОМЕНДАЦИИ</a></li>
                <li><a href="http://clickable.design/team/">КОМАНДА</a></li>
                <li><a href="http://clickable.design/blog/"> БЛОГ</a></li>

                <li class="lang"><a class="active" href="#">ru</a><a href="#">en</a></li>
                <li class="social">
                    <a href="#" target="_blank" class="vk"></a>
                    <a href="#" target="_blank" class="fb"></a>
                    <a href="#" target="_blank" class="gp"></a>
                </li>
            </ul>
        </nav>

    </div>
</header>