<!-- HEADER -->
<header>
    <div class="logo-wrap">
        <a href="https://www.clickable.design"><canvas id="canvas1" width="239" height="112"></canvas></a>
    </div>

        <span class="sendwich-icon">
              <span></span>
            </span>

    <div class="menu">
        <ul>
            <li><a href="https://www.clickable.design"> о нАС</a></li>
            <li><a href="http://clickable.design/showcase/"> РАБОТЫ</a></li>
            <li><a href="http://clickable.design/reviews/"> РЕКОМЕНДАЦИИ</a></li>
            <li><a href="http://clickable.design/team/">КОМАНДА</a></li>
            <li><a href="http://clickable.design/blog/"> БЛОГ</a></li>
            <li><a href="http://clickable.design/#contactable">СВЯЗАТЬСЯ С НАМИ</a></li>
        </ul>
    </div>
</header>
<!-- /HEADER -->

