<div class="iivo-wrapper">
    <section class="top-section">
        <div class="mbox">
            <div class="content desctop">
                <div class="img"><img src="images/top-img.png" alt=""></div>
                <div class="txt">
                    <div class="wraper-for-adapt">
                        <div class="svg">
                            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="236px" height="105px" viewBox="0 0 236 105" enable-background="new 0 0 236 105" xml:space="preserve"><g>	<path fill="#C4C4C4" d="M22.517,6.19c0-7.817,11.949-7.655,11.949,0v93.39c0,7.184-11.949,7.492-11.949,0V6.19z"/>	<path fill="#C4C4C4" d="M0.437,6.19c0-7.817,11.95-7.655,11.95,0v93.39c0,7.184-11.95,7.492-11.95,0V6.19z"/>	<path fill="#C4C4C4" d="M40.055,8.266c-3.021-6.851,7.975-11.313,11.158-4.464l40.948,81.586L132.162,4.12c2.55-6.533,13.382-3.03,10.989,4.146L97.26,101.163c-2.225,4.14-7.966,5.102-10.671-0.479L40.055,8.266z"/><path fill="#C4C4C4" d="M132.946,50.81c0-25.015,16.887-46.371,42.227-50.355c5.896-0.798,11.314-0.635,16.893,0c24.535,3.828,43.498,24.224,43.498,50.355c0,33.143-23.899,54.175-50.99,54.175C155.893,104.985,132.946,84.589,132.946,50.81zM144.896,51.291c0,26.129,17.211,42.7,39.677,42.7c21.511,0,39.195-15.934,39.195-42.7c0-20.558-13.537-36.973-33.143-40.157c-4.775-0.637-9.399-0.637-13.855,0C157.482,14.164,144.896,29.616,144.896,51.291z"/></g></svg>
                        </div>
                        <div class="inner-adapt">
                            <h1>
                                ИНТЕРАКТИВНАЯ оверлей
                                РЕКЛАМА ДЛЯ ВИДЕО ПЛЕЕРА
                            </h1>
                            <h3>
                                <b>IiVO</b> - INTERACTIVE in-VIDEO OVERLAY
                            </h3>
                        </div>
                    </div>
                    <p>
                        Новый формат IN-VIDEO всплывающей рекламы дает возможность
                        более эффективно работать с целевой аудиторией и повышать конверсию за счет высокоинтерактивного взаимодействия с пользователем. Богатая анимация
                        и эффективный call-to-action в совокупности с IIVO  гарантируют
                        успешность вышей рекламной компании
                    </p>
                    <a class="button" href="#"><span>УЗНАТЬ БОЛЬШЕ</span></a>
                </div>
            </div>
            <div class="content mobile">
                <div class="txt">
                    <div class="svg">
                        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="236px" height="105px" viewBox="0 0 236 105" enable-background="new 0 0 236 105" xml:space="preserve"><g>	<path fill="#C4C4C4" d="M22.517,6.19c0-7.817,11.949-7.655,11.949,0v93.39c0,7.184-11.949,7.492-11.949,0V6.19z"/>	<path fill="#C4C4C4" d="M0.437,6.19c0-7.817,11.95-7.655,11.95,0v93.39c0,7.184-11.95,7.492-11.95,0V6.19z"/>	<path fill="#C4C4C4" d="M40.055,8.266c-3.021-6.851,7.975-11.313,11.158-4.464l40.948,81.586L132.162,4.12c2.55-6.533,13.382-3.03,10.989,4.146L97.26,101.163c-2.225,4.14-7.966,5.102-10.671-0.479L40.055,8.266z"/><path fill="#C4C4C4" d="M132.946,50.81c0-25.015,16.887-46.371,42.227-50.355c5.896-0.798,11.314-0.635,16.893,0c24.535,3.828,43.498,24.224,43.498,50.355c0,33.143-23.899,54.175-50.99,54.175C155.893,104.985,132.946,84.589,132.946,50.81zM144.896,51.291c0,26.129,17.211,42.7,39.677,42.7c21.511,0,39.195-15.934,39.195-42.7c0-20.558-13.537-36.973-33.143-40.157c-4.775-0.637-9.399-0.637-13.855,0C157.482,14.164,144.896,29.616,144.896,51.291z"/></g></svg>
                    </div>
                    <h3>INTERACTIVE in-VIDEO
                        OVERLAY</h3>
                    <h1>ИНТЕРАКТИВНАЯ
                        оверлей РЕКЛАМА
                        ДЛЯ ВИДЕО
                        ПЛЕЕРА</h1>
                    <div class="img"><img src="images/top-img.png" alt=""></div>
                    <p>
                        Новый формат IN-VIDEO всплывающей рекламы дает возможность более эффективно работать с целевой аудиторией и повышать конверсию за счет высокоинтерактивного взаимодействия с пользователем. Богатая анимация и эффективный call-to-action в совокупности с IIVO  гарантируют успешность вышей рекламной компании
                    </p>
                    <a class="button" href="#"><span>УЗНАТЬ БОЛЬШЕ</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="video">
        <div class="mbox">
            <div class="content">
                <div class="top-icons row4ik">
                    <div class="item">
                        <div class="img"><img src="images/it01.png" alt=""></div>
                        <div class="imgm"><img src="images/it01m.png" alt=""></div>
                        <div class="txt"><p>Поддержка и отслеживание
                            основных событий мыши таких
                            как rollover, rollout
                            и click.</p></div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="images/it02.png" alt=""></div>
                        <div class="imgm"><img src="images/it02m.png" alt=""></div>
                        <div class="txt"><p>Адаптивная верстка для
                            корректного отображения
                            на разных разрешениях
                            экранов.</p></div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="images/it03.png" alt=""></div>
                        <div class="imgm"><img src="images/it03m.png" alt=""></div>
                        <div class="txt"><p>Адаптация с учетом PPI
                            устройства для показа в
                            максимально допустимом
                            качестве.
                        </p></div>
                    </div>
                </div>
                <div class="title">
                    <h2>ЗАПУСТИТЕ ВИДЕО И ДОЖДИТЕСЬ
                        ПОКАЗА IIVO</h2>
                </div>
                <div class="vjs-video-container">
                    <video class="video-js vjs-default-skin vjs-big-play-centered"  controls preload="auto" poster="http://vjs.zencdn.net/v/oceans.png" >
                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'/>
                        <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'/>
                        <source src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg'/>
                    </video>
                </div>
                <div class="bottom-icons row4ik">
                    <div class="item">
                        <div class="img"><img src="images/it04.png" alt=""></div>
                        <div class="imgm"><img src="images/it04m.png" alt=""></div>
                        <div class="txt"><p>Автоматический контроль
                            длительности показа объявления
                            в зависимости от действий
                            пользователя.
                        </p></div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="images/it05.png" alt=""></div>
                        <div class="imgm"><img src="images/it05m.png" alt=""></div>
                        <div class="txt"><p>Оптимальный размер и область
                            показа объявления (30% от фактической
                            высоты экрана, 100% от фактической
                            ширины экрана).</p></div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="images/it06.png" alt=""></div>
                        <div class="imgm"><img src="images/it06m.png" alt=""></div>
                        <div class="txt"><p>Контроль колличества и
                            переодичности показов
                            объявлений в течении показа
                            одного видео. </p></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="form-wrap">
        <div class="mbox">
            <div class="content">
                <div class="title">
                    <h2>СВЯЖИТЕСЬ С НАМИ ДЛЯ ПОЛУЧЕНИЯ
                        БОЛЕЕ ПОДРОБНОЙ ИНФОРМАЦИИ </h2>
                </div>
                <div class="form">
                    <form action="ajax-programer.php" name="" class="contact-with-us">
                        <div class="form_row">
                            <div class="form_input">
                                <input type="text" name="name" required="required" value="" placeholder="ИМЯ">
                            </div>
                            <div class="form_input">
                                <input type="email" name="email" required="required" value="" placeholder="E-MAIL">
                            </div>
                            <div class="form_input">
                                <input type="text" name="message"  required="required" value="" placeholder="СООБЩЕНИЕ">
                            </div>
                            <div class="form_input">
                                <button type="submit"><span>ОТПРАВИТЬ</span></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>