<div class="iivo-wrapper">
    <section class="form-wrap">
        <div class="mbox">
            <div class="content">
                <div class="title">
                    <h2>СВЯЖИТЕСЬ С НАМИ ДЛЯ ПОЛУЧЕНИЯ
                        БОЛЕЕ ПОДРОБНОЙ ИНФОРМАЦИИ </h2>
                </div>
                <div class="form-wrap">
                    <form action="ajax.php" class="contact-with-us">
                        <div class="form_row">
                            <div class="form_input"><input type="text" name="name" placeholder="ИМЯ"></div>
                            <div class="form_input"><input type="email" name="email" placeholder="E-MAIL"></div>
                            <div class="form_input"><input type="text" name="message" placeholder="СООБЩЕНИЕ"></div>
                            <div class="form_input"> <button type="submit"><span>ОТПРАВИТЬ</span></button></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>