<section class="more-items" id="more-items">
    <div class="mbox">
        <div class="title-top"><span><h1>/ Работы</h1></span></div>
        <div class="desctop">
            <div class="more-items-wrap">
                <div class="item">
                    <a href="#" class="main-block">
                        <div class="img"><img src="/images/more-it01.jpg" alt=""></div>
                        <div class="txt">
                            <h5>CPA КАМПАНИИ</h5>
                            <p>Промо материалы активных
                                рекламных кампаний для CPA
                                сетей обеспечивающие
                                отличную конверсию</p>
                        </div>
                    </a>
                    <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                            href=""><span>landing page</span></a></div>
                </div>
                <div class="item">
                    <a href="#" class="main-block">
                        <div class="img"><img src="/images/more-it02.jpg" alt=""></div>
                        <div class="txt">
                            <h5>ОНЛАЙН ИГРЫ</h5>
                            <p>Креативы для продвижения
                                игровых онлайн развлечений
                                разнопланового характера</p>
                        </div>
                    </a>
                    <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                            href=""><span>landing page</span></a></div>
                </div>
                <div class="item">
                    <a href="#" class="main-block">
                        <div class="img"><img src="/images/more-it03.jpg" alt=""></div>
                        <div class="txt">
                            <h5>СТАВКИ</h5>
                            <p>Рекламные материалы для
                                продвижения онлайн ставок на
                                спорт, киберспорт и разного рода
                                турниров и сревнований</p>
                        </div>
                    </a>
                    <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                            href=""><span>landing page</span></a></div>
                </div>
                <div class="item">
                    <a href="#" class="main-block">
                        <div class="img"><img src="/images/more-it04.jpg" alt=""></div>
                        <div class="txt">
                            <h5>ТОВАРЫ И УСЛУГИ</h5>
                            <p>Создание продающих промо
                                материалов для продвижения
                                разноплановых товаров и
                                услуг</p>
                        </div>
                    </a>
                    <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                            href=""><span>landing page</span></a></div>
                </div>
                <div class="item">
                    <a href="#" class="main-block">
                        <div class="img"><img src="/images/more-it05.jpg" alt=""></div>
                        <div class="txt" style="color: #7c7c7c;">
                            <h5>АЙДЕНТИКА</h5>
                            <p>Разработка фирменого
                                стиля, создание промо
                                с учетом стилистики
                                бренда
                            </p>
                        </div>
                    </a>
                    <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                            href=""><span>landing page</span></a></div>
                </div>
                <div class="item all">
                    <a href="#" class="main-block">
                        <div class="img"><img src="/images/more-it06.jpg" alt=""></div>
                        <div class="txt">
                            <h5>СМОТРЕТЬ
                                ВСЁ</h5>

                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="mobile">
            <div class="more-items-wrap">
                <div class="item">
                    <div class="main-block">
                        <div class="img"><img src="/images/more-it01m.jpg" alt=""></div>
                        <div class="txt">
                            <h5>CPA КАМПАНИИ</h5>
                            <p>Промо материалы активных
                                рекламных кампаний для CPA
                                сетей обеспечивающие
                                отличную конверсию</p>

                        <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                                href=""><span>landing page</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="main-block">
                        <div class="img"><img src="/images/more-it02m.jpg" alt=""></div>
                        <div class="txt">
                            <h5>ОНЛАЙН ИГРЫ</h5>
                            <p>Креативы для продвижения
                                игровых онлайн развлечений
                                разнопланового характера</p>
                            <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                                    href=""><span>landing page</span></a></div>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div  class="main-block">
                        <div class="img"><img src="/images/more-it03m.jpg" alt=""></div>
                        <div class="txt">
                            <h5>СТАВКИ</h5>
                            <p>Рекламные материалы для
                                продвижения онлайн ставок на
                                спорт, киберспорт и разного рода
                                турниров и сревнований</p>
                            <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                                    href=""><span>landing page</span></a></div>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="main-block">
                        <div class="img"><img src="/images/more-it04m.jpg" alt=""></div>
                        <div class="txt">
                            <h5>ТОВАРЫ И УСЛУГИ</h5>
                            <p>Создание продающих промо
                                материалов для продвижения
                                разноплановых товаров и
                                услуг</p>
                            <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                                    href=""><span>landing page</span></a></div>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="main-block">
                        <div class="img"><img src="/images/more-it05m.jpg" alt=""></div>
                        <div class="txt" style="color: #7c7c7c;">
                            <h5>АЙДЕНТИКА</h5>
                            <p>Разработка фирменого
                                стиля, создание промо
                                с учетом стилистики
                                бренда
                            </p>
                            <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                                    href=""><span>landing page</span></a></div>
                        </div>
                    </div>

                </div>
                <div class="item all">
                    <div class="main-block">
                        <div class="img"><img src="/images/more-it06m.jpg" alt=""></div>
                        <div class="txt">
                            <h5>СМОТРЕТЬ
                                ВСЁ</h5>
                            <div class="buttons-block"><a href=""><span>banner ads</span></a><a href=""><span>background ads</span></a><a
                                    href=""><span>landing page</span></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>